<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>pkg.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorlist</servlet-name>
        <servlet-class>pkg.doctorlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>pkg.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>pkg.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>action.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signinpage</servlet-name>
        <servlet-class>pkg.signinpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>action.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>pkg.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctoradd</servlet-name>
        <servlet-class>pkg.doctoradd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoc</servlet-name>
        <servlet-class>action.AddDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctoredit</servlet-name>
        <servlet-class>pkg.doctoredit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDoc</servlet-name>
        <servlet-class>action.EditDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoc</servlet-name>
        <servlet-class>action.DeleteDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientadd</servlet-name>
        <servlet-class>pkg.patientadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientlist</servlet-name>
        <servlet-class>pkg.patientlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPat</servlet-name>
        <servlet-class>action.AddPat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatient</servlet-name>
        <servlet-class>action.EditPat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientedit</servlet-name>
        <servlet-class>pkg.patientedit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPat</servlet-name>
        <servlet-class>action.EditPat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePat</servlet-name>
        <servlet-class>action.DeletePat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVisit</servlet-name>
        <servlet-class>action.AddVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitadd</servlet-name>
        <servlet-class>pkg.visitadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitlist</servlet-name>
        <servlet-class>pkg.visitlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVisit</servlet-name>
        <servlet-class>action.EditVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVisit</servlet-name>
        <servlet-class>action.DeleteVisit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitedit</servlet-name>
        <servlet-class>pkg.visitedit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorlist</servlet-name>
        <url-pattern>/doctorlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signinpage</servlet-name>
        <url-pattern>/signinpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctoradd</servlet-name>
        <url-pattern>/doctoradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoc</servlet-name>
        <url-pattern>/AddDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctoredit</servlet-name>
        <url-pattern>/doctoredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDoc</servlet-name>
        <url-pattern>/EditDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoc</servlet-name>
        <url-pattern>/DeleteDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientadd</servlet-name>
        <url-pattern>/patientadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientlist</servlet-name>
        <url-pattern>/patientlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPat</servlet-name>
        <url-pattern>/AddPat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatient</servlet-name>
        <url-pattern>/EditPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientedit</servlet-name>
        <url-pattern>/patientedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPat</servlet-name>
        <url-pattern>/EditPat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePat</servlet-name>
        <url-pattern>/DeletePat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVisit</servlet-name>
        <url-pattern>/AddVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitadd</servlet-name>
        <url-pattern>/visitadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitlist</servlet-name>
        <url-pattern>/visitlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVisit</servlet-name>
        <url-pattern>/EditVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVisit</servlet-name>
        <url-pattern>/DeleteVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitedit</servlet-name>
        <url-pattern>/visitedit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
